<nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['home']" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['about']" routerLinkActive="active">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['enemigos']" routerLinkActive="active">Enemigos</a>
          </li>
        </ul>
  
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" #buscarTexto (keyup.enter)="buscarEnemigo(buscarTexto.value)">
          <button class="btn btn-outline-primary" (click)="buscarEnemigo(buscarTexto.value)">Buscar</button>
        </form>
      </div>
</nav>
  