<div class="sidebar bg-primary">
    <div class="enlaces">
      <ul class="list-group">
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['home']" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['about']" routerLinkActive="active">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['enemigos']" routerLinkActive="active">Enemigos</a>
        </li>
      </ul>
    </div>
</div>
  